# NODE_ENV local, dev, prod
NODE_ENV=

# Domain
COOKIE_DOMAIN=localhost

#SERVER
PORT=

#DATABASE
NODE_ENV=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_SSL=false

# EMAIL
NET_CORE_EMAIL_TEMPLATE=
SENDGRID_API_KEY=
FRONTEND_URL=''

# SMS
NET_CORE_SMS_FEED_ID=
NET_CORE_SMS_USERNAME=
NET_CORE_SMS_PASSWORD=
NET_CORE_SMS_ENDPOINT=
NET_CORE_SMS_TEMPLATE=
NET_CORE_SMS_ENTITY_ID=

# AWS
AWS_ACCESS_KEY_ID=FAKE
AWS_SECRET_ACCESS_KEY=fAke
AWS_SESSION_TOKEN=dfafsadfadf
AWS_REGION=ap-fake-1
S3_BUCKET_NAME=

#JWT
JWT_STRATEGY_SECRET='secret'
JWT_ACCESS_TOKEN_EXPIRES_IN='50m'
JWT_STRATEGY_REFRESH_TOKEN_SECRET='secret'
JWT_REFRESH_TOKEN_EXPIRES_IN='60d'

#COOKIE
COOKIE_EXPIRES_IN_MIN=60
REFRESH_TOKEN_COOKIE_EXPIRES_IN_DAYS=60


# TESTING CREDS FOR DEVELOPMENT & TESTING
DEVELOPMENT_EMAIL_TO=
DEVELOPMENT_MOBILE_NUMBER=

#GOOGLE_AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#gsuite
FCM_SERVICE_ACCOUNT_DETAILS=

# CloudWatch
CLOUDWATCH_GROUP_NAME=
CLOUDWATCH_STREAM_NAME=

# CAPTCHA
RECAPTCHA_SECRET_KEY=

# Environment
ENV=local

# CC Avenue
CC_AVENUE_URL='https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction'

PASSWORD_ENCRYPTION_KEY=

# Aptrack 1
APTRACK_ONE_BASE_URL=
APTRACK_ONE_TOKEN=
APTRACK_ONE_AUTH_USERNAME=

DOSELECT_API_BASE_URL=
DOSELECT_API_KEY=
DOSELECT_API_SECRET=
DOSELECT_API_EMAIL_DOMAIN=


# BC Receipt Ecnryption values
TRIPLE_DES_KEY_BASE64=
TRIPLE_DES_IV_BASE64=
BC_RECEIPT_BASE_URL=


# e-shabda
E_SHABDA_EMAIL=
E_SHABDA_SHARED_SECRECT=
E_SHABDA_DISTRIBUTOR_ID=

# SQS
SQS_WEBHOOK_QUEUE_URL=

# PG
#CCAVENUE
CC_AVENUE_URL=

# CDN
CDN_URL=

#Aptrack 2
APTRACK_2_BRAND_ID_LIST_STRING=
APTRACK_TWO_BASE_URL=
APTRACK_TWO_TOKEN=
APTRACK_TWO_AUTH_USERNAME=
APTRACK_TWO_S3_BUCKET_NAME=


#AWS APTRACK2
APTRACK2_AWS_ACCESS_KEY_ID=
APTRACK2_AWS_SECRET_ACCESS_KEY=
APTRACK2_AWS_SESSION_TOKE=
APTRACK2_AWS_REGION=
APTRACK_TWO_CERT_S3_BUCKET_NAME=

# m365
M365_CLOUD_INSTANCE=https://login.microsoftonline.com/
M365_REDIRECT_URI=
M365_CLIENT_ID=
M365_TENANT_ID=
M365_CLIENT_SECRET=